<div class="background-photo">
  <div class="col-md-8 text-center header-text">
    <h1>Büyük İndirimler Başladı!</h1>
    <h2>İhtiyacınız olan her şey HepsiTrend'de</h2>
  </div>
  <div class="d-flex align-items-center justify-content-center"></div>
</div>

<div class="container col-md-12 mt-3">
  <div class="row">
    <div class="row">
      <div class="col-md-3">
        <a href="urunler/" class="nav nav-link urun">
          <img
            class="urun-icerik"
            src="../../../assets/kategoriler/teknoloji.png"
          />
          <p
            class="text-center urun-yazi"
            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px"
          >
            Teknoloji
          </p>
        </a>
      </div>

      <div class="col-md-3">
        <a href="urunler/" class="nav nav-link urun">
          <img
            class="urun-icerik"
            src="../../../assets/kategoriler/besya.png"
          />
          <p
            class="text-center urun-yazi"
            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px"
          >
            Beyaz Eşya
          </p>
        </a>
      </div>

      <div class="col-md-3">
        <a href="urunler/" class="nav nav-link urun">
          <img
            class="urun-icerik"
            src="../../../assets/kategoriler/giyim.png"
          />
          <p
            class="text-center urun-yazi"
            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px"
          >
            Giyim
          </p>
        </a>
      </div>

      <div class="col-md-3">
        <a href="urunler/" class="nav nav-link urun">
          <img
            class="urun-icerik"
            src="../../../assets/kategoriler/bakim.png"
          />
          <p
            class="text-center urun-yazi"
            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px"
          >
            Kişisel Bakım
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container col-md-12">
  <div class="row">
    <div class="text-center mt-5">
      <h1>Yıldızlı Ürünler</h1>
    </div>
    <div class="row">
      <div class="col-md-3">
        <a href="urunler/" class="nav nav-link urun">
          <img
            class="urun-icerik"
            src="../../../assets/kategoriler/ürün/iphone.png"
          />
          <p
            class="text-center urun-yazi-1"
            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px"
          >
            IPhone 17 Pro Max Ultra XYZ
          </p>
        </a>
      </div>

      <div class="col-md-3">
        <a href="urunler/" class="nav nav-link urun">
          <img
            class="urun-icerik"
            src="../../../assets/kategoriler/ürün/kazak.png"
          />
          <p
            class="text-center urun-yazi-1"
            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px"
          >
            XXXL Rick n Morty Kazak
          </p>
        </a>
      </div>

      <div class="col-md-3">
        <a href="urunler/" class="nav nav-link urun">
          <img
            class="urun-icerik"
            src="../../../assets/kategoriler/ürün/mdalga.png"
          />
          <p
            class="text-cente urun-yazi-1"
            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px"
          >
            Derin Donduruculu Mikro Dalga Fırını
          </p>
        </a>
      </div>

      <div class="col-md-3">
        <a href="urunler/" class="nav nav-link urun">
          <img
            class="urun-icerik"
            src="../../../assets/kategoriler/ürün/detoks.png"
          />
          <p
            class="text-center urun-yazi-1"
            style="font-weight: bold; padding-top: 10px; margin-bottom: 5px"
          >
            Gençleştirici Botoks Suyu
          </p>
        </a>
      </div>
    </div>
  </div>
</div>

<div style="height: 150px"></div>

<footer class="text-center text-white" style="background-color: #f1f1f1">
  <div
    class="text-center text-dark p-3"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    © 2022 Tüm Hakları Saklıdır
  </div>
</footer>
